body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: medium;
    color: black;
    background-color: yellow;
    margin: 0;
}
head{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
head{
    font-size: xx-large;
    color: red;
}
.income{
    background-color: #0ff;
}
.expenses{
    background-color: #f0f;

}
.profit{
    background-color: #f00;
}
li{
    display: inline;
    border: medium double black;
    list-style-type: none;
    margin: 5px;
}